.checkoutMessage {
  width: fit-content;
  margin: 1rem auto;
}
.mb-4 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  line-height: 21.6px;
}
.checkoutp {
margin: 80px 0; padding-top: 80px;
}


.form__group input {
  color: black;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  line-height: 21.6px;
}


@media only screen and (max-width: 480px) {

.form__group input {
 color: black;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  line-height: 21.6px;
}


}
.checkout__bill {
  background: #f1f7ee;
  padding: 30px;
}

.checkout__total {
  border-top: 1px solid #ddd;
  padding-top: 30px;
}
.checkout__total h5 {
  font-size: 18px;
}
.checkout__total h5 span {
  color: red;
}
.checkout__bill h6 {
  font-size: 18px;
}
.checkout__bill h6 span {
  color: red;
}

@media only screen and (max-width: 768px) {
  .checkout__bill h6 {
    font-size: 18px;
  }
  .checkout__bill {
    margin-top: 40px;
  }
  
.form__group input {
 color: black;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  line-height: 21.6px;
}
}
