



.food__category button {
  border: none;
  outline: none;
  padding: 7px 20px;
  background: #05c26a;
  color: #fff;
}

.foodBtnActive {
  background: #049a54 !important;
 
  color: #ffffff !important;
}

